<mat-drawer-container fullscreen>
  <mat-drawer #drawer>
    <mat-card class="component" *ngFor="let item of componentList">
      <h3>{{item.title}}</h3>
      <p>{{item.description}}</p>
    </mat-card>
  </mat-drawer>
  <mat-drawer-content class="cotainer-fluid">
    <button mat-raised-button (click)="toggleEdit()">Edit</button>
    <button mat-raised-button (click)="drawer.toggle()">Add</button>
    <div class="row">
      <div class="col-md-3" *ngFor="let item of componentList; let i = index" [attr.data-item-id]="i">
        <mat-card>
            <p class="handle">-</p>
          <ng-container *ngComponentOutlet="item.component"></ng-container>
        </mat-card>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
