<div class="container">
    <button class="button is-primary" [routerLink]="'edit'">Edit</button>
    <h3>My Cards</h3>
    <div class="columns">
        <div class="column" *ngFor="let card of card$ | async; let i = index">
            <div class="content box">
                <span (click)="removeCard(i)" class="icon is-pulled-right">
                  <i class="fas fa-trash"></i>
                </span>
                <h6>{{ card.title }}</h6>
                <p>{{ card.description }}</p>
            </div>
        </div>
    </div>
</div>