.todo {
  text-align: center;
}

mat-checkbox {
  position: absolute;
  right: 0;
}

mat-card-title {
  cursor: pointer;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
}
form{
  width: 100%;
}
mat-form-field{
    width: 100%;
}
.error{
  color: red;
}
.remove{
  color: red;
  margin-right: 10px;
  cursor: pointer;
}